.app {
  margin: 30px ;
}

input[type="text"] {
  height: 2em;
  margin: 2px;
}

.numeral {
  width: 6em;
  text-align: right;
}

input[type="button"] {
  height: 2.5em;
  width: 5em;
  margin: 2px;
  border-radius: 5px;
  font-size: 13px;
  background-color: darkseagreen;
}

input[type="button"]:hover {
  opacity: 80%;
}

.bs-header {
  margin-bottom: 20px;
}

.bs-header > div {
  display: flex;
  align-items: center;
}

.bs-header label {
  display: block;
  float: left;
  width: 8em;
}

.bs-detail > div {
  display: flex;
  align-items: center;
}

.bs-detail input {
  margin-left: 10px;
}
